/*320px布局*/
html {
  @media #{$iPhone4} {
    font-size: 10px;
  }

  @media #{$iPhone6} {
    font-size: 11.71875px;
  }

  @media #{$iPhone6P} {
    font-size: 12.9375px;
  }

  @media #{$pad} {
    font-size: 15px;
  }
}

body {
  font-size: 1.4rem; /*实际相当于14px*/
  overflow: hidden;

  .wrapper {
    @media #{$pad} {
      width: 500px;
      margin: 0 auto;
    }
  }
}

html {
  background: #fff;
  color: #333;
  text-rendering: optimizelegibility;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 300 1.4rem/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

p {
  margin: 0;
}

.hairlines li{
  position: relative;
  border:none !important;
}

.hairlines li:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #d9d9d9;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}