doctype html
html
  head
    title ← 气质合唱
    link(rel='stylesheet', href='css/tuco.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    block content
