doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='http://cdn.staticfile.org/twitter-bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/dragdealer.css')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/dragdealer/0.9.8/dragdealer.min.js')
    script(src='javascripts/dragdealer.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    block content
