extend layout

block content
  div(class='wrapper')
    div(class='wechat')
      ul(class='hairlines')
        li
          div(class='avatar' style='background-image: url(images/2f.jpg)')
          div(class='right')
            div(class='name') 林二菲
            div(class='msg') 今晚去吃鸡公煲吧！
        li
          canvas(class='avatar' id='avatarCanvas' width='640' height='640')
          div(class='right')
            div(class='name') 吴彦祝
            div(class='msg') 你撤回了一条消息
        li
          div(class='avatar' style='background-image: url(images/subscribe.png)')
          div(class='right')
            div(class='name') 订阅号
            div(class='msg') 谱叔兴致坊：东校维纳斯复赛“选手须知！…
      div(class='wechat-mask')
    
    div(class='content')
      div(class='stage')
        canvas(id='realtimeCanvas', class='realtimeCanvas', width='640', height='640') 您的浏览器不支持 canvas
        img(class='outputImg' id='outputImg')
        input(id='file' name='file' type='file')

      div(class='notice')
        p ↑ 点击更换图片，长按保存图片

      div(class='styles')
        ul
          li(id='demo1' class='active')
          li(id='demo2')

      div(id='canvasTest0', class='dragdealer')
        div(class='handle red-bar', id='canvasTestValue')
      div(id='canvasTest', class='dragdealer')
        div(class='handle red-bar', id='canvasTestValue')

      script(src='/js/tuco.min.js')
