extend layout

block content
  div(class='stage')
    div(class='avatar' id='avatar')
    div(class='mask' id='mask')
    div(class='logo' id='logo')
  from(enctype='multipart/form-data')
    input(id="file" name='file' type='file')
    input(type='button' value='Upload')
  div(id='maskR', class="dragdealer")
    div(class='handle red-bar' id='maskRValue')
  div(id='maskG', class="dragdealer")
    div(class='handle red-bar' id='maskGValue')
  div(id='maskB', class="dragdealer")
    div(class='handle red-bar' id='maskBValue')
  div(id='maskA', class="dragdealer")
    div(class='handle red-bar' id='maskAValue')
  div(id='logoOpacity', class="dragdealer")
    div(class='handle red-bar' id='logoOpacityValue')
  button(id='confirmButton') Get Image
  h2 output image:
  img(class='output' id='output')
  h2 canvas:
  canvas(id='canvasProcessor', width='640', height='640') 您的浏览器不支持 canvas
  script(src='/js/tuco.js')
