.stage {
  position: relative;
  width: 100vw;
  max-width: 500px;
  height: 100vw;
  max-height: 500px; }
  .stage,
  .stage > div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .stage > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .stage .avatar {
    background-image: url(/images/avatar.jpg); }
  .stage .mask {
    background-color: rgba(0, 0, 0, 0.1); }
  .stage .logo {
    background-image: url(/images/alsogay.png); }
